<%- include('../partials/header') %> 

<section class="container">

  <div class="row mt-3">

    <div class="col-sm-12">
      <h1 id="new-header">Comment on the <%= campground.name %> campground</h1>
    </div>

    <div id="new-camp-form">

      <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" placeholder="content">
        </div>
        <button class="btn btn-primary btn-block">Submit</button>
      </form>

      <a href="/campgrounds/<%= campground._id %>" class>Back to campground</a>
    </div>
  </div>
</div>

<%- include('../partials/footer') %> 