<%- include('../partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!</h1>
      <p>Campgrounds from around the world hand-picked by people like</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-large">Add Campground</a>
      </p>
    </div>
  </header>
</div>

<section class="container px-0">
  <div class="row align-items-center mx-0">
    <% campgrounds.forEach(campground => { %>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="<%= campground.image %>" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">
              <%= campground.name %> 
            </h4>
            <p class="card-text">
              <%= campground.description %> 
            </p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>